<!-- 
    1.普通插槽 test
 -->
<!-- 
    <div>
        <h3>我是定义的其他公用组件...</h3>
        <${ input.renderBody } commonData='common data' />
    </div>
-->

<!-- 
    2.具名插槽 test
 -->
<!-- 
    <div>
        <${ input.content } />
        <h3>我是定义的其他公用组件...</h3>
        <${ input.tail } />
    </div>
-->









