<!doctype html>
<html>
<head>
    <title>Hello world</title>
    <lasso-head/>
</head>
<body>
    <!-- <1mySlot name='practice - common slot' /> -->
    <!-- <2mySlot name='practice - slot with name' /> -->
    <!-- <3supportingFiles name='3supportingFiles' /> -->
    <!-- <4lifecycle /> -->
    <5testInput ...input />
</body>
</html>








