<!-- 
    1.普通插槽 test
 -->
<!-- 
    <myContainer|{commonData}|>
        <h2>我是被插入的组件,父组件传入的值 - ${ input.name }</h2>
        <p>我是被插入的组件,我有很强的灵活性。</p>
        <p>我是被插入的组件，我是 ${ commonData }</p>
    </myContainer> 
-->

<!-- 
    2.具名插槽 test
 -->
<!-- 
    <myContainer>
        <@content>
            <p>我是插入的组件 1 </p>
        </@content>
        <@tail>
            <p>我是插入的组件 2</p>
        </@tail>
    </myContainer>   
 -->















